<br><br>
<body >
    <div style="height: 50%; width: 47%; margin-left: 28%; border: solid; text-align: center; background-size: cover;">
        <font size="10%">Login</font><br><br>
        <form class="form-group">
            <label for="username">Username</label><br>
                <input type="email" id="uname" class="form-control" ><br><br>
            <label for="password">Password</label><br>
                <input type="password" id="pword" class="form-control"><br><br>  
            <button routerLink="Login">Sign In</button>
        </form>
    </div>
</body>
