<br>
<div>
    <form class="form-control">
<h4 style="text-align: center;">Update Your Credentials</h4>

    <label for= "name">Name :</label>
    <input type="text" min="3" id="name" [(ngModel)]="student.name" class="form-control"/><br/>

    <label for= "course">Course :</label>
    <input type="text" id="course" [(ngModel)]="student.course" class="form-control"/><br/>

    <label for= "fee">Fee :</label>
    <input type="number" min="4" id="fee" [(ngModel)]="student.fee" class="form-control"/><br/>

    <label for= "marks">Marks :</label>
    <input type="number" id="marks" [(ngModel)]="student.marks" class="form-control"/><br/>

    <button style="margin-left: 45%; margin-bottom: 4%;" class="btn btn-success" (click)="updateStudent()">Update</button>
    </form>
</div>